*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainDiv{
    /* background-image: url(../images/1.webp); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;

}

.animation-div{
    width: 100px;
    height: 100px;
    /* background-color: #000; */
    animation-name: pixel;
    animation-duration: 4s;
    animation-delay:2s;
    animation-iteration-count: 5;
    position: relative;
    animation-direction:alternate-reverse;
}

@keyframes pixel{
    0%{background-color: red;  left: 0; top: 0;}
    25%{background-color: blue; left: 500px; top: 0;}
    50%{background-color: yellow; left: 500px; top: 500px;}
    75%{background-color: green; left: 0; top: 500px;}
    100%{background-color: red;  left: 0; top: 0;}
}

.borderEx{
    width: 300px;
    height: 300px;
    background-color: #fff;
    border: 3px solid #000;
    /* border-radius:50% ; */
    /* box-shadow: 5px 10px 8px 10px #888888; */
    /* box-shadow: 5px 10px 20px red inset; */
    box-shadow: 10px 10px 5px #aaaaaa;
}


.text-ex h1{
    color: #000;
    text-shadow: 2px 2px rgb(139, 124, 124);
}


.lenear-ex{
    margin: 20px;
    padding: 20px;
    width: 500px;
    height: 500px;
    /* background-image: repeating-linear-gradient(to right, red,blue 20%, yellow 30%); */

    background-image: linear-gradient(45deg, red, blue);

    /* background-image: radial-gradient( red, green ); */

}