*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* 
----selector-----
html = 
class = .
id = #

*/


/* p{
    color:green;
}

p{
    color:yellow;
    background-color: #000;
}



.bangladesh{
    color:red;
}  */




.mainDiv{
    border: 2px solid #ffff00 ;
    background-color: teal;
    width: 600px;
    height: 600px;
   
   margin-top: 20px;
   margin-left: 30px;
   

}

.childDiv{
    border: 2px dotted red;
    background-color: rgb(136, 84, 84);
    width: 400px;
    height: 400px;
    /* margin: 20px 30px 25px 40px; */
   padding: 30px;
   margin: 30px;
}


.child2{
    width: 200px;
    height: 200px;
    background-color: rgb(87, 82, 82);
}

.mainDiv> p{
    color:red;
}

.mainDiv .childDiv> p{
    color:blue;
}

.mainDiv .childDiv .child2 p{
    color:yellow;
}


#paraid{
    color:turquoise;
    background-color: red;
    margin: 20px;
    border: 2px dotted #2c2c2c;
    padding: 30px;
}